.submitBtn {
  background: black !important;
  border: 1px solid #ededed !important;
  padding: 10px 16px 10px 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border-radius: 32px !important;
  cursor: pointer;
  color: #ffffff !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &.active {
    box-shadow: none !important;
  }
}
