.projectPage {
  background: #1a1919;
  .projectContainer {
    padding: 64px 133px 100px 133px;
    .projectHead {
      display: flex;
      flex-direction: column;
      align-items: center;
      .projectText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #ffffff;
        margin-bottom: 2px;
      }
      .hairline {
        width: 70px;
      }
    }
    .crausalContainer {
      margin-top: 54px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .projectPage {
    .projectContainer {
      padding: 64px 48px 100px 48px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projectPage {
    .projectContainer {
      padding: 64px 24px 100px 24px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .projectPage {
    background: #2c2c2c;
    .projectContainer {
      padding: 40px 0px 32px 0px; //
      .projectHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        .projectText {
          font-size: 16px;
          line-height: 24px;
        }
        .hairline {
          width: 41px;
        }
      }
      .crausalContainer {
        margin-top: 24px;
      }
    }
  }
}
@media only screen and (min-width: 476px) and (max-width: 575px) {
  .projectPage {
    background: #2c2c2c;
    .projectContainer {
      padding: 40px 0px 32px 0px; //
      .projectHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        .projectText {
          font-size: 16px;
          line-height: 24px;
        }
        .hairline {
          width: 41px;
        }
      }
      .crausalContainer {
        margin-top: 24px;
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 475px) {
  .projectPage {
    background: #2c2c2c;
    .projectContainer {
      padding: 40px 0px 32px 0px; //
      .projectHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        .projectText {
          font-size: 16px;
          line-height: 24px;
        }
        .hairline {
          width: 41px;
        }
      }
      .crausalContainer {
        margin-top: 24px;
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 299px) {
  .aboutPage {
  }
}
